{% extends 'base.html.twig' %}

{% block title %}Shoe{% endblock %}

{% block body %}
    {# <h1>Shoe</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ shoe.id }}</td>
            </tr> #}
            {# <tr>
                <th>Marque</th>
                <td>{{ shoe.brand }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ shoe.color }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ shoe.size }}</td>
            </tr>
            <tr>
                <th>État</th>
                <td>{{ shoe.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ shoe.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('shoe_index') }}">back to list</a>

    <a href="{{ path('shoe_edit', {'id': shoe.id}) }}">edit</a>

    {{ include('shoe/_delete_form.html.twig') }} #} #}
{% endblock %}
